main {
    min-height: 50dvh;
}

.delivery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

.delivery-img {
    width: 100%;
    margin: 0 10px;
}

@media (min-width: 768px) {
    .delivery {
        flex-wrap: nowrap;
    }
}